<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            id="net.bioclipse.jmol.business.JmolManager"
            service="net.bioclipse.jmol.business.JmolManagerFactory">
      </scriptContribution>
   </extension>

   <extension
         point="net.bioclipse.ui.business.editorShortname">
         <shortname
               alias="jmol"
               editorID="net.bioclipse.jmol.editors.JmolEditor">
         </shortname>
         <shortname
               alias="3d"
               editorID="net.bioclipse.jmol.editors.JmolEditor">
         </shortname>
   </extension>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="helpContexts.xml"
            />
   </extension>


   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Jmol Editor"
          icon="icons/jmol.png"
            contributorClass="net.bioclipse.jmol.editors.JmolEditorContributor"
            class="net.bioclipse.jmol.editors.JmolEditor"
            default="true"
            id="net.bioclipse.jmol.editors.JmolEditor">
            <contentTypeBinding
                  contentTypeId="net.bioclipse.contenttypes.pdb">
            </contentTypeBinding>
            <contentTypeBinding
                  contentTypeId="net.bioclipse.contenttypes.mdlMolFile3D">
            </contentTypeBinding>
            <contentTypeBinding
                  contentTypeId="net.bioclipse.contenttypes.cml.singleMolecule3d">
            </contentTypeBinding>
            <contentTypeBinding
                  contentTypeId="net.bioclipse.contenttypes.sdf3d">
            </contentTypeBinding>
      </editor>
   </extension>

   <!--
     Temporarily disabled (see bug #788), but to be
     renabled for 2.1 (see bug #789).

   extension
         point="org.eclipse.ui.editors">
      <editor
            name="Jmol Script"
            extensions="jmol,scr"
            icon="icons/molecule3D.png"
            class="net.bioclipse.jmol.editors.script.JmolScriptEditor"
            id="net.bioclipse.jmol.editors.script.JmolScriptEditor"
            default="true">
      </editor>
   </extension -->

<extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor contributorId="net.bioclipse.jmol.views.outline.JmolContentOutlinePage">
			<propertyCategory category="Chain"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="net.bioclipse.jmol.views.outline.JmolContentOutlinePage">
         <propertyTab
            category="Chain"
               id="jmol.ChainTab"
            label="Chain"/>
      </propertyTabs>
   </extension>

 <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="net.bioclipse.jmol.views.outline.JmolContentOutlinePage">
         <propertySection
               class="net.bioclipse.jmol.views.properties.NameSection"
               id="jmol.NameSection"
               tab="jmol.ChainTab">
            <input type="net.bioclipse.jmol.views.outline.JmolChain"/>
         </propertySection>
         <propertySection
               afterSection="jmol.NameSection"
               class="net.bioclipse.jmol.views.properties.SequenceSection"
               id="jmol.SequenceSection"
               tab="jmol.ChainTab">
            <input type="net.bioclipse.jmol.views.outline.JmolChain"/>
         </propertySection>
         <!--propertySection
               afterSection="mview.LabelSection"
               class="mview.views.SizeSection"
               id="mview.SizeSection"
               tab="mview.ButtonTab">
            <input type="net.bioclipse.jmol.views.outline.JmolObject"/>
         </propertySection-->
      </propertySections>
   </extension>


 <extension
         point="org.eclipse.ui.commands">
      <command
            id="net.bioclipse.jmol.actions.runscript"
            description="Run a Jmol script"
            name="Run script">
            <commandParameter
                  id="net.bioclipse.jmol.scriptParameter"
                  name="script"
                  optional="true">
            </commandParameter>
      </command>
      <command
            id="net.bioclipse.jmol.actions.export"
            description="Export as image"
            name="Export">
      </command>
      <command
            id="net.bioclipse.jmol.actions.runEditorScript"
            description="Run the Jmol script in the activeeditor"
            name="Run Script">
      </command>

</extension>

 <extension
         point="org.eclipse.ui.handlers">
		<handler
            class="net.bioclipse.jmol.actions.RunScriptHandler"
            commandId="net.bioclipse.jmol.actions.runscript">
      </handler>
		<handler
            class="net.bioclipse.jmol.actions.ExportHandler"
            commandId="net.bioclipse.jmol.actions.export">
      </handler>
		<handler
            class="net.bioclipse.jmol.actions.RunEditorScriptHandler"
            commandId="net.bioclipse.jmol.actions.runEditorScript">
      </handler>

</extension>


<extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="net.bioclipse.definitions.activeJmolEditor">
         <with
               variable="activeEditorId">
            <equals
                  value="net.bioclipse.jmol.editors.JmolEditor">
            </equals>
         </with>
      </definition>
      <definition
            id="net.bioclipse.definitions.activeJmolScriptEditor">
         <with
               variable="activeEditorId">
            <equals
                  value="net.bioclipse.jmol.editors.script.JmolScriptEditor">
            </equals>
         </with>
      </definition>
</extension>

<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="net.bioclipse.jmol.editor.menu"
               label="Jmol">
			<separator
      			name="additions">
			</separator>
               <visibleWhen>
                  <reference
                        definitionId="net.bioclipse.definitions.activeJmolEditor">
                  </reference>
               </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:net.bioclipse.jmol.editor.menu?after=additions">
         <menu
               id="net.bioclipse.jmol.editor.menu.select"
               label="Select">
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Select All"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="Select all">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Select None"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="Select none">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Select Protein"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="Select protein">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Select Amino"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="Select amino">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Select Nucleic"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="Select nucleic">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Select Water"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="Select water">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Select Hetero"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="Select hetero">
                  </parameter>
            </command>
         </menu>


         <menu
               id="net.bioclipse.jmol.editor.menu.background"
               label="Background">
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="White"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="set background white">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Black"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="set background black">
                  </parameter>
            </command>
         </menu>

         <menu
               id="net.bioclipse.jmol.editor.menu.atoms"
               label="Atoms">
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Off"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="spacefill 0">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Spacefill 20%"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="spacefill 20%">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Spacefill 100%"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="spacefill 100%">
                  </parameter>
            </command>
         </menu>

         <menu
               id="net.bioclipse.jmol.editor.menu.bonds"
               label="Bonds">
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Off"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="wireframe off">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Size 10"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="wireframe 10">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Size 15"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="wireframe 15">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Size 30"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="wireframe 30">
                  </parameter>
            </command>
         </menu>

         <menu
               id="net.bioclipse.jmol.editor.menu.surface"
               label="Surface">
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Dots On"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="dots on">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Dots Off"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="dots off">
                  </parameter>
            </command>
         </menu>

         <menu
               id="net.bioclipse.jmol.editor.menu.frame"
               label="Frame">
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Next Frame"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="frame previous">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Previous Frame"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="frame previous">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Play Once"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="animation mode ONCE; animation fps 1; animation on">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Play Repeat"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="animation mode loop; animation fps 1; animation on">
                  </parameter>
            </command>
         </menu>

         <menu
               id="net.bioclipse.jmol.editor.menu.biopolymer"
               label="Biopolymer">
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Cartoon On"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="cartoon on">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Cartoon Off"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="cartoon off">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Ribbons On"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="ribbons on">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Ribbons Off"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="ribbons off">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Rockets On"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="rockets on">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Rockets Off"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="rockets off">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Meshribbons On"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="meshribbons on">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Meshribbons Off"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="meshribbons off">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Strands On"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="strands on">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Strands Off"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="strands off">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Trace On"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="trace on">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Trace Off"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="trace off">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Backbone On"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="backbone on">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Backbone Off"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="backbone off">
                  </parameter>
            </command>
         </menu>

         <menu
               id="net.bioclipse.jmol.editor.menu.labels"
               label="Labels">
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Off"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="labels off">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Names"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="label %a">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Number"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="label %i">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Symbol"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="label %e">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Location: Center"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="set labeloffset 0 0">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Location: Top Right"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="set labeloffset 4 4">
                  </parameter>
            </command>
         </menu>

          <menu
               id="net.bioclipse.jmol.editor.menu.rotate"
               label="Rotate">
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Rotate Around X-axis"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="rotate x 360">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Spin On"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="spin on">
                  </parameter>
            </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runscript"
                  label="Spin Off"
                  icon="icons/molecule3D.png">
                  <parameter
                        name="net.bioclipse.jmol.scriptParameter"
                        value="spin off">
                  </parameter>
            </command>
         </menu>


         <!-- It seems we need to have at least one command in top menu
         for it to show-->
            <command
                  commandId="net.bioclipse.jmol.actions.export"
                  tooltip="Export as image..."
                  label="Export as image...">
             </command>
      </menuContribution>


      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="net.bioclipse.jmol.editor.toolbar">
            <command
                  commandId="net.bioclipse.jmol.actions.export"
                  tooltip="Export as Image"
                  icon="icons/capture-screen.png">
               <visibleWhen>
                  <reference
                        definitionId="net.bioclipse.definitions.activeJmolEditor">
                  </reference>
               </visibleWhen>
             </command>
            <command
                  commandId="net.bioclipse.jmol.actions.runEditorScript"
                  tooltip="Run Script in Editor"
                  icon="icons/smallRun.gif">
               <visibleWhen>
                  <reference
                        definitionId="net.bioclipse.definitions.activeJmolScriptEditor">
                  </reference>
               </visibleWhen>
             </command>
            <separator
                  name="additions"
                  visible="false">
            </separator>
         </toolbar>
      </menuContribution>

</extension>

   <extension
         point="org.eclipse.ui.views">
      <view
         name="Jmol Console"
         icon="icons/jmol.png"
         category="net.bioclipse.ScriptingCategory"
         class="net.bioclipse.jmol.views.JmolConsoleView"
         id="net.bioclipse.jmol.views.JmolConsoleView">
         <description>
            Javascript Console View
         </description>
      </view>
    </extension>

</plugin>
