<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            id="net.bioclipse.jmol.business.JmolManager"
            service="net.bioclipse.jmol.business.JmolManagerFactory">
      </scriptContribution>
   </extension>


   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Jmol Editor"
            extensions="pdb,cml"
          icon="icons/molecule3D.gif"
            contributorClass="net.bioclipse.jmol.editors.JmolEditorContributor"
            class="net.bioclipse.jmol.editors.JmolEditor"
            id="net.bioclipse.jmol.editors.JmolEditor">
      </editor>
   </extension>

<extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor contributorId="net.bioclipse.jmol.views.outline.JmolContentOutlinePage">
			<propertyCategory category="Chain"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="net.bioclipse.jmol.views.outline.JmolContentOutlinePage">
         <propertyTab
            category="Chain"
               id="jmol.ChainTab"
            label="Chain"/>
      </propertyTabs>
   </extension>

 <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="net.bioclipse.jmol.views.outline.JmolContentOutlinePage">
         <propertySection
               class="net.bioclipse.jmol.views.properties.NameSection"
               id="jmol.NameSection"
               tab="jmol.ChainTab">
            <input type="net.bioclipse.jmol.views.outline.JmolChain"/>
         </propertySection>
         <propertySection
               afterSection="jmol.NameSection"
               class="net.bioclipse.jmol.views.properties.SequenceSection"
               id="jmol.SequenceSection"
               tab="jmol.ChainTab">
            <input type="net.bioclipse.jmol.views.outline.JmolChain"/>
         </propertySection>
         <!--propertySection
               afterSection="mview.LabelSection"
               class="mview.views.SizeSection"
               id="mview.SizeSection"
               tab="mview.ButtonTab">
            <input type="net.bioclipse.jmol.views.outline.JmolObject"/>
         </propertySection-->
      </propertySections>
   </extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          allowMultiple="false"
          class="net.bioclipse.jmol.views.JmolView"
          icon="icons/molecule3D.gif"
          category="net.bioclipse.cdk.category"
          id="net.bioclipse.jmol.views.JmolView"
          name="Jmol">
    </view>
 </extension>

 <extension
       point="org.eclipse.ui.perspectiveExtensions"
       id="jmolPerspectiveExtension">
    <perspectiveExtension
          targetID="net.bioclipse.pcore.PcorePerspective">
          <view
                id="net.bioclipse.jmol.views.JmolView"
                relative="org.eclipse.ui.editorss"
                relationship="right"
                ratio="0.70">
          </view>
          <viewShortcut
                id="net.bioclipse.jmol.views.JmolView">
          </viewShortcut>
    </perspectiveExtension>
 </extension>
 
   
</plugin>
