<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            service="net.bioclipse.chemspider.business.ChemspiderManagerFactory"
            id="net.bioclipse.chemspider.business.ChemspiderManager">
      </scriptContribution>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.bioclipse.chemspider.ui.ChemspiderPreferencePage"
            id="net.bioclipse.chemspider.prefs"
            name="Chemspider">
      </page>
   </extension>

</plugin>
