<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

 <extension
       point="org.eclipse.ui.views">
    <view
          allowMultiple="false"
          class="net.bioclipse.jmol.cdk.views.JmolView"
          icon="icons/molecule3D.png"
          category="net.bioclipse.cdk.category"
          id="net.bioclipse.jmol.cdk.views.JmolView"
          name="Jmol">
    </view>
 </extension>

   
</plugin>
