<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.bioclipse.cdk.ui.sdfeditor.editor.MultiPageMoleculesEditorPart"
            default="true"
            extensions="sdf,smi"
            icon="icons/many_molecules.png"
            id="net.bioclipse.cdk.ui.sdfeditor"
            matchingStrategy="net.bioclipse.cdk.ui.sdfeditor.MoleculesMatchingStrategy"
            name="SDFEditor">
         <contentTypeBinding
               contentTypeId="net.bioclipse.contenttypes.sdf">
         </contentTypeBinding>
         <contentTypeBinding
               contentTypeId="net.bioclipse.contenttypes.cml.multipleMolecule2d">
         </contentTypeBinding>
         <contentTypeBinding
               contentTypeId="net.bioclipse.contenttypes.cml.multipleMolecule3d">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="net.bioclipse.cdk.ui.sdf.jchempaint.toolbar">
            <command
                  commandId="net.bioclipse.cdk.ui.editors.jchempaint.command.move"
                  icon="icons2/move.png"
                  style="radio">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="net.bioclipse.cdk.ui.sdfeditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="net.bioclipse.cdk.ui.editors.jchempaint.command.lasso"
                  icon="icons2/lasso.gif"
                  style="radio">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="net.bioclipse.cdk.ui.sdfeditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="net.bioclipse.cdk.ui.editors.jchempaint.command.new_atom_bond"
                  icon="icons2/draw.png"
                  style="radio">
               <visibleWhen
                     checkEnabled="true">
                  <reference
                        definitionId="net.bioclipse.cdk.ui.sdfeditor.jcptab">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="net.bioclipse.cdk.ui.editors.jchempaint.command.eraser"
                  icon="icons2/eraser.png"
                  style="radio">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="net.bioclipse.cdk.ui.sdfeditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="net.bioclipse.cdk.ui.editors.jchempaint.command.incharge"
                  icon="icons2/inccharge.png"
                  style="radio">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="net.bioclipse.cdk.ui.sdfeditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="net.bioclipse.cdk.ui.editors.jchempaint.command.deccharge"
                  icon="icons2/deccharge.png"
                  style="radio">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="net.bioclipse.cdk.ui.sdfeditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="net.bioclipse.cdk.ui.sdfeditor.jcptab">
         <or>
            <with
                  variable="activeEditor">
               <instanceof
                     value="net.bioclipse.cdk.jchempaint.editor.JChemPaintEditor">
               </instanceof>
            </with>
            <with
                  variable="activePart">
               <instanceof
                     value="net.bioclipse.cdk.ui.sdfeditor.editor.MultiPageMoleculesEditorPart">
               </instanceof>
            </with>
         </or>
      </definition>
   </extension>

</plugin>
