<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="net.bioclipse.cdk.propertyCalculator" name="PropertyCalculator" schema="schema/net.bioclipse.cdk.propertyCalculator.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.bioclipse.cdk.ui.sdfeditor.editor.MultiPageMoleculesEditorPart"
            default="true"
            extensions="sdf,smi"
            icon="icons/table16-with-molecule.png"
            id="net.bioclipse.cdk.ui.sdfeditor"
            name="MoleculeTableEditor">
         <contentTypeBinding
               contentTypeId="net.bioclipse.contenttypes.sdf2d">
         </contentTypeBinding>
         <contentTypeBinding
               contentTypeId="net.bioclipse.contenttypes.sdf3d">
         </contentTypeBinding>
         <contentTypeBinding
               contentTypeId="net.bioclipse.contenttypes.cml.multipleMolecule2d">
         </contentTypeBinding>
         <contentTypeBinding
               contentTypeId="net.bioclipse.contenttypes.cml.multipleMolecule3d">
         </contentTypeBinding>
      </editor>
   </extension>
   
      <extension
         point="net.bioclipse.ui.business.editorShortname">
         <shortname
               alias="sdf"
               editorID="net.bioclipse.cdk.ui.sdfeditor">
         </shortname>
         <shortname
               alias="multimol"
               editorID="net.bioclipse.cdk.ui.sdfeditor">
         </shortname>
   </extension>
   
      <extension
         point="net.bioclipse.ui.bioobjectDescriber">
		<BioObject
	        describer="net.bioclipse.cdk.ui.sdfeditor.describer.MolTableDescriber"
    	    id="net.bioclipse.cdk.jchempaint.describer"
    	    objectClass="net.bioclipse.core.domain.RecordableList">
		</BioObject>         
   </extension>
   
   
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="net.bioclipse.cdk.ui.sdfeditor.jcptab">
         <or>
            <with
                  variable="activeEditor">
               <instanceof
                     value="net.bioclipse.cdk.jchempaint.editor.JChemPaintEditor">
               </instanceof>
            </with>
            <with
                  variable="activePart">
               <instanceof
                     value="net.bioclipse.cdk.ui.sdfeditor.editor.MultiPageMoleculesEditorPart">
               </instanceof>
            </with>
         </or>
      </definition>
   </extension>

      <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="net.bioclipse.cheminformatics"
            class="net.bioclipse.cdk.ui.wizards.NewSdfWizard"
            hasPages="true"
            icon="icons/table16.gif"
            id="net.bioclipse.cdk.ui.wizards.NewSdfWizard"
            name="SD File (from existing structures)">
         <description>
         Create a new SD file.
         </description>
      </wizard>
   </extension>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
   </extension>

    <extension
        point="org.eclipse.ui.commands">
        <command
           id="net.bioclipse.cdk.sdfeditor.handlers.extractEntries"
           defaultHandler="net.bioclipse.cdk.ui.sdfeditor.handlers.ExtractEntriesHandler"
           name="extractEntries"/>
        <command
              defaultHandler="net.bioclipse.cdk.ui.sdfeditor.handlers.OpenJCPTab"
              id="net.bioclipse.cdk.ui.sdfeditor.open.jcp"
              name="Open 2D-structure tab">
        </command>
        <command
              defaultHandler="net.bioclipse.cdk.ui.sdfeditor.handlers.CalculatePropertyHandler"
              id="net.bioclipse.cdk.ui.sdfeditor.addProperty"
              name="Add Property">
           <commandParameter
                 id="net.bioclipse.cdk.ui.sdfeditor.calculatorId"
                 name="calculatorId"
                 optional="false">
           </commandParameter>
        </command>
        <command
              defaultHandler="net.bioclipse.cdk.ui.sdfeditor.handlers.ExtractMolecules"
              id="net.bioclipse.cdk.moltable.extract"
              name="Extract Molecules">
        </command>
        <command
              defaultHandler="net.bioclipse.cdk.ui.sdfeditor.handlers.ExportCSV"
              id="net.bioclipse.cdk.moltable.exportcsv"
              name="Export to CSV">
        </command>
        <command
              defaultHandler="net.bioclipse.cdk.ui.sdfeditor.handlers.RemoveColumnHandler"
              id="net.bioclipse.cdk.molTable.column.remove"
              name="Remove Column">
        </command>
  	</extension>

	<extension
  		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:org.eclipse.ui.popup.any?after=additions">
     <menu
           id="net.bioclipse.sdfeditor.popup.calculateProperty"
           label="Calculate property">
        <command
              commandId="net.bioclipse.cdk.ui.sdfeditor.addProperty"
              label="Number of Atoms"
              style="push">
           <parameter
                 name="net.bioclipse.cdk.ui.sdfeditor.calculatorId"
                 value="net.bioclipse.cdk.calculator.numberOfAtoms">
           </parameter>
        </command>
        <command
              commandId="net.bioclipse.cdk.ui.sdfeditor.addProperty"
              label="InChI"
              style="push">
           <parameter
                 name="net.bioclipse.cdk.ui.sdfeditor.calculatorId"
                 value="net.bioclipse.cdk.InChI">
           </parameter>
        </command>
        <command
              commandId="net.bioclipse.cdk.ui.sdfeditor.addProperty"
              label="Fingerprint"
              style="push">
           <parameter
                 name="net.bioclipse.cdk.ui.sdfeditor.calculatorId"
                 value="net.bioclipse.cdk.fingerprint">
           </parameter>
        </command>
        <visibleWhen
              checkEnabled="true">
           <reference
                 definitionId="net.bioclipse.cdk.ui.sdfeditor.menu.fileOrEditor">
           </reference>
        </visibleWhen>
     </menu>
		    <command
		    	commandId="net.bioclipse.cdk.sdfeditor.handlers.extractEntries"
		    	label="Extract Entries"
		        icon="icons/many_molecules.png">
		      	<visibleWhen>
			   		<iterate operator="and" ifEmpty="false">
		      			<adapt type="org.eclipse.core.resources.IResource">
			      			<or>
				                <test property="org.eclipse.core.resources.contentTypeId"
				           	    	value="net.bioclipse.contenttypes.sdf"/>
                                <test property="org.eclipse.core.resources.contentTypeId"
                                    value="net.bioclipse.contenttypes.sdf0d"/>
                                <test property="org.eclipse.core.resources.contentTypeId"
                                    value="net.bioclipse.contenttypes.sdf2d"/>
                                <test property="org.eclipse.core.resources.contentTypeId"
                                    value="net.bioclipse.contenttypes.sdf3d"/>
				            </or>
			      		</adapt>
			   		</iterate>
		        </visibleWhen>
	       </command>
		</menuContribution>
  <menuContribution
        locationURI="popup:net.bioclipse.cdk.ui.sdfeditor.column.menu?after=additions">
         <command
               commandId="net.bioclipse.cdk.molTable.column.remove"
               label="Remove Property"
               style="push">
         </command>
  </menuContribution>
  <menuContribution
        locationURI="popup:net.bioclipse.cdk.ui.sdfeditor.menu?before=additions">
     <command
           commandId="net.bioclipse.cdk.ui.sdfeditor.open.jcp"
           label="Open"
           style="push"
           tooltip="Open 2D-strcuture edtior">
        <visibleWhen checkEnabled="true">
            <and>
                <iterate>
                  <or>
                     <instanceof
                           value="net.bioclipse.cdk.domain.ICDKMolecule">
                     </instanceof>
                     <instanceof
                           value="net.bioclipse.cdk.ui.sdfeditor.editor.MoleculeTableViewer$MolTableElement">
                     </instanceof>
                     <instanceof
                           value="net.bioclipse.cdk.ui.sdfeditor.editor.MolTableSelection">
                     </instanceof>
                   </or>
                </iterate>
            </and>
        </visibleWhen>
     </command>
     <command
           commandId="net.bioclipse.cdk.moltable.extract"
           label="Extract Molecules"
           style="push">
        <visibleWhen
              checkEnabled="true">
              <iterate>
                 <or>
                    <instanceof
                          value="net.bioclipse.cdk.domain.ICDKMolecule">
                    </instanceof>
                    <instanceof
                          value="net.bioclipse.cdk.ui.sdfeditor.editor.MoleculeTableViewer$MolTableElement">
                    </instanceof>
                    <instanceof
                          value="net.bioclipse.cdk.ui.sdfeditor.editor.MolTableSelection">
                    </instanceof>
                 </or>
              </iterate>
        </visibleWhen>
     </command>
     <command
           commandId="net.bioclipse.cdk.moltable.exportcsv"
           label="Export to CSV"
           style="push">
        <visibleWhen
              checkEnabled="true">
              <iterate>
                 <or>
                    <instanceof
                          value="net.bioclipse.cdk.domain.ICDKMolecule">
                    </instanceof>
                    <instanceof
                          value="net.bioclipse.cdk.ui.sdfeditor.editor.MoleculeTableViewer$MolTableElement">
                    </instanceof>
                    <instanceof
                          value="net.bioclipse.cdk.ui.sdfeditor.editor.MolTableSelection">
                    </instanceof>
                 </or>
              </iterate>
        </visibleWhen>
     </command>  </menuContribution>
	</extension>
 <extension
       point="net.bioclipse.scripting.contribution">
    <scriptContribution
          id="net.bioclipse.cdk.ui.sdfeditor.business.MoleculeTableManager"
          service="net.bioclipse.cdk.ui.sdfeditor.business.MoleculeTableManagerFactory">
    </scriptContribution>
 </extension>
 <extension
       point="net.bioclipse.cdk.propertyCalculator">
    <Calculator
          class="net.bioclipse.cdk.ui.sdfeditor.NumberOfAtomCalculator"
          id="net.bioclipse.cdk.calculator.numberOfAtoms">
    </Calculator>
    <Calculator
          class="net.bioclipse.cdk.ui.sdfeditor.CDKFingerPrintPropertyCalculator"
          id="net.bioclipse.cdk.fingerprint">
    </Calculator>
    <Calculator
          class="net.bioclipse.cdk.ui.sdfeditor.InChIPropertyCalculator"
          id="net.bioclipse.cdk.InChI">
    </Calculator>
 </extension>
 
 <extension
       point="org.eclipse.core.expressions.definitions">
    <definition
          id="net.bioclipse.cdk.ui.sdfeditor.menu.file">
       <iterate
             ifEmpty="false"
             operator="and">
          <adapt
                type="org.eclipse.core.resources.IResource">
             <or>
                <test
                      property="org.eclipse.core.resources.contentTypeId"
                      value="net.bioclipse.contenttypes.sdf0d">
                </test>
                <test
                      property="org.eclipse.core.resources.contentTypeId"
                      value="net.bioclipse.contenttypes.sdf2d">
                </test>
                <test
                      property="org.eclipse.core.resources.contentTypeId"
                      value="net.bioclipse.contenttypes.sdf3d">
                </test>
             </or>
          </adapt>
       </iterate>
    </definition>
    <definition
          id="net.bioclipse.cdk.ui.sdfeditor.menu.editor">
       <with
             variable="activeEditor">
          <instanceof
                value="net.bioclipse.cdk.ui.sdfeditor.editor.MultiPageMoleculesEditorPart">
          </instanceof>
       </with>
    </definition>
    <definition
          id="net.bioclipse.cdk.ui.sdfeditor.menu.fileOrEditor">
       <or>
          <iterate
                ifEmpty="false"
                operator="and">
             <adapt
                   type="org.eclipse.core.resources.IResource">
                <or>
	                <test
    	                  property="org.eclipse.core.resources.contentTypeId"
    	                  value="net.bioclipse.contenttypes.sdf0d">
	                </test>
                   <test
                         property="org.eclipse.core.resources.contentTypeId"
                         value="net.bioclipse.contenttypes.sdf2d">
                   </test>
                   <test
                         property="org.eclipse.core.resources.contentTypeId"
                         value="net.bioclipse.contenttypes.sdf3d">
                   </test>
                </or>
             </adapt>
          </iterate>
          <with
                variable="activeEditor">
             <instanceof
                   value="net.bioclipse.cdk.ui.sdfeditor.editor.MultiPageMoleculesEditorPart">
             </instanceof>
          </with>
       </or>
    </definition>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="net.bioclipse.cdk.ui.sdfeditor.MolTablePreferenceInitializer">
    </initializer>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="net.bioclipse.cdk.business.preferences.CDKPreferencePage"
          class="net.bioclipse.cdk.ui.sdfeditor.MolTablePreferencePage"
          id="net.bioclipse.cdk.ui.sdfeditor.preferencePage"
          name="Mol Table Preferences">
    </page>
 </extension>
</plugin>
