<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.bioclipse.cdk.jchempaint.editor.JChemPaintEditor"
            default="false"
            icon="icons/editor/triangle.gif"
            id="net.bioclipse.cdk.ui.editors.jchempaint"
            name="JChemPaintEditor">
      </editor>
      <editor
            class="net.bioclipse.cdk.jchempaint.editor.JChemPaintEditor"
            default="true"
            icon="icons/doc_mol_2d.png"
            id="net.bioclipse.cdk.ui.editors.jchempaint"
            name="MDLMolfileEditor">
         <contentTypeBinding
               contentTypeId="net.bioclipse.contenttypes.mdlMolFile2D">
         </contentTypeBinding>
      </editor>
      <editor
            class="net.bioclipse.cdk.jchempaint.editor.JChemPaintEditor"
            default="true"
            icon="icons/doc_mol_2d.png"
            id="net.bioclipse.cdk.ui.editors.jchempaint"
            name="CMLfileEditor">
         <contentTypeBinding
               contentTypeId="net.bioclipse.contenttypes.cml.singleMolecule2d">
         </contentTypeBinding>
      </editor>
   </extension>
 <extension
       id="net.bioclipse.cdk.jchempaint.commands"
       name="JChemPaintToolbarCommands"
       point="org.eclipse.ui.commands">
    <command
          defaultHandler="net.bioclipse.cdk.jchempaint.handlers.ChangeAtomHandler"
          id="net.bioclipse.cdk.jchempaint.command.change.element"
          name="Change element">
       <commandParameter
             id="atomType"
             name="symbol"
             optional="true">
       </commandParameter>
    </command>
    <command
          defaultHandler="net.bioclipse.cdk.jchempaint.handlers.RemoveHandler"
          id="net.bioclipse.cdk.ui.editors.jchempaint.command.eraser"
          name="Remove">
    </command>
    <command
          defaultHandler="net.bioclipse.cdk.jchempaint.handlers.SelectHandler"
          id="net.bioclipse.cdk.ui.editors.jchempaint.command.lasso"
          name="Select">
    </command>
    <command
          defaultHandler="net.bioclipse.cdk.jchempaint.handlers.InchargeHandler"
          id="net.bioclipse.cdk.ui.editors.jchempaint.command.incharge"
          name="Increase Charge">
    </command>
    <command
          defaultHandler="net.bioclipse.cdk.jchempaint.handlers.DecchargeHandler"
          id="net.bioclipse.cdk.ui.editors.jchempaint.command.deccharge"
          name="Decrease Charge">
    </command>
    <command
          defaultHandler="net.bioclipse.cdk.jchempaint.handlers.MoveHandler"
          id="net.bioclipse.cdk.ui.editors.jchempaint.command.move"
          name="Move">
    </command>
    <command
          defaultHandler="net.bioclipse.cdk.jchempaint.handlers.ManagerHandler"
          id="net.bioclipse.cdk.jchempaint.manager.action"
          name="Manager action">
       <commandParameter
             id="jcp.manager.method"
             name="managerMethod"
             optional="false">
       </commandParameter>
    </command>
    <command
          defaultHandler="net.bioclipse.cdk.jchempaint.handlers.ChangeModuleHandler"
          id="net.bioclipse.cdk.ui.editors.jchempaint.command.module"
          name="ChangeModule">
       <commandParameter
             id="jcp.controller.module"
             name="Controller Module"
             optional="false">
       </commandParameter>
       <commandParameter
             id="jcp.controller.param.int"
             name="Integer"
             optional="true">
       </commandParameter>
       <commandParameter
             id="jcp.controller.param.boolean"
             name="Boolean"
             optional="true">
       </commandParameter>
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
       <toolbar
             id="net.bioclipse.cdk.ui.jchempaint.toolbar">
          <command
                commandId="net.bioclipse.cdk.ui.editors.jchempaint.command.module"
                icon="icons/editor/new_atom_bond.gif"
                style="radio"
                tooltip="Draw new Atoms and Bonds">
             <visibleWhen
                   checkEnabled="true">
                <reference
                      definitionId="net.bioclipse.cdk.jchempaint.editor.type">
                </reference>
             </visibleWhen>
             <parameter
                   name="jcp.controller.module"
                   value="DrawBondModule">
             </parameter>
          </command>
          <command
                commandId="net.bioclipse.cdk.ui.editors.jchempaint.command.module"
                icon="icons/editor/lasso.gif"
                style="radio"
                tooltip="Select Atoms and Bonds">
             <visibleWhen
                   checkEnabled="true">
                <reference
                      definitionId="net.bioclipse.cdk.jchempaint.editor.type">
                </reference>
             </visibleWhen>
             <parameter
                   name="jcp.controller.module"
                   value="SelectModule">
             </parameter>
          </command>
          <command
                commandId="net.bioclipse.cdk.ui.editors.jchempaint.command.module"
                icon="icons/editor/charge_plus.gif"
                style="radio"
                tooltip="Increase formal Charge">
             <visibleWhen
                   checkEnabled="true">
                <reference
                      definitionId="net.bioclipse.cdk.jchempaint.editor.type">
                </reference>
             </visibleWhen>
             <parameter
                   name="jcp.controller.module"
                   value="ChangeFormalChargeModule">
             </parameter>
             <parameter
                   name="jcp.controller.param.int"
                   value="1">
             </parameter>
          </command>
          <command
                commandId="net.bioclipse.cdk.ui.editors.jchempaint.command.module"
                icon="icons/editor/charge_minus.gif"
                style="radio"
                tooltip="Decrease formal Charge">
             <visibleWhen
                   checkEnabled="true">
                <reference
                      definitionId="net.bioclipse.cdk.jchempaint.editor.type">
                </reference>
             </visibleWhen>
             <parameter
                   name="jcp.controller.module"
                   value="ChangeFormalChargeModule">
             </parameter>
             <parameter
                   name="jcp.controller.param.int"
                   value="-1">
             </parameter>
          </command>
          <command
                commandId="net.bioclipse.cdk.ui.editors.jchempaint.command.module"
                icon="icons/editor/move.gif"
                style="radio"
                tooltip="Move Atoms and Bonds">
             <visibleWhen
                   checkEnabled="true">
                <reference
                      definitionId="net.bioclipse.cdk.jchempaint.editor.type">
                </reference>
             </visibleWhen>
             <parameter
                   name="jcp.controller.module"
                   value="MoveModule">
             </parameter>
          </command>
          <command
                commandId="net.bioclipse.cdk.ui.editors.jchempaint.command.module"
                icon="icons/editor/benzene.gif"
                style="radio"
                tooltip="Draw a Benzene ring">
             <parameter
                   name="jcp.controller.module"
                   value="AddRingModule">
             </parameter>
             <parameter
                   name="jcp.controller.param.int"
                   value="6">
             </parameter>
             <parameter
                   name="jcp.controller.param.boolean"
                   value="true">
             </parameter>
             <visibleWhen
                   checkEnabled="true">
                <reference
                      definitionId="net.bioclipse.cdk.jchempaint.editor.type">
                </reference>
             </visibleWhen>
          </command>
       </toolbar>
    </menuContribution>
    <menuContribution
          locationURI="popup:net.bioclipse.cdk.ui.editors.jchempaint">
       <menu
             label="Change Element">
          <menu
                label="Common Elements">
             <command
                   commandId="net.bioclipse.cdk.jchempaint.command.change.element"
                   label="C"
                   style="push">
                <parameter
                      name="atomType"
                      value="C">
                </parameter>
             </command>
             <command
                   commandId="net.bioclipse.cdk.jchempaint.command.change.element"
                   label="O"
                   style="push">
                <parameter
                      name="atomType"
                      value="O">
                </parameter>
             </command>
             <command
                   commandId="net.bioclipse.cdk.jchempaint.command.change.element"
                   label="N"
                   style="push">
                <parameter
                      name="atomType"
                      value="N">
                </parameter>
             </command>
             <command
                   commandId="net.bioclipse.cdk.jchempaint.command.change.element"
                   label="H"
                   style="push">
                <parameter
                      name="atomType"
                      value="H">
                </parameter>
             </command>
             <command
                   commandId="net.bioclipse.cdk.jchempaint.command.change.element"
                   label="P"
                   style="push">
                <parameter
                      name="atomType"
                      value="P">
                </parameter>
             </command>
             <command
                   commandId="net.bioclipse.cdk.jchempaint.command.change.element"
                   label="S"
                   style="push">
                <parameter
                      name="atomType"
                      value="S">
                </parameter>
             </command>
          </menu>
          <menu
                label="Halogens">
             <command
                   commandId="net.bioclipse.cdk.jchempaint.command.change.element"
                   label="F"
                   style="push">
                <parameter
                      name="atomType"
                      value="F">
                </parameter>
             </command>
             <command
                   commandId="net.bioclipse.cdk.jchempaint.command.change.element"
                   label="Cl"
                   style="push">
                <parameter
                      name="atomType"
                      value="Cl">
                </parameter>
             </command>
             <command
                   commandId="net.bioclipse.cdk.jchempaint.command.change.element"
                   label="Br"
                   style="push">
                <parameter
                      name="atomType"
                      value="Br">
                </parameter>
             </command>
             <command
                   commandId="net.bioclipse.cdk.jchempaint.command.change.element"
                   label="I"
                   style="push">
                <parameter
                      name="atomType"
                      value="I">
                </parameter>
             </command>
          </menu>
          <visibleWhen
                checkEnabled="false">
             <reference
                   definitionId="net.bioclipse.cdk.jchempaint.selected.atom">
             </reference>
          </visibleWhen>
       </menu>
       <command
             commandId="net.bioclipse.cdk.ui.editors.jchempaint.command.incharge"
             label="Increase charge"
             style="push">
          <visibleWhen
                checkEnabled="false">
             <reference
                   definitionId="net.bioclipse.cdk.jchempaint.selected.atom">
             </reference>
          </visibleWhen>
       </command>
       <command
             commandId="net.bioclipse.cdk.ui.editors.jchempaint.command.deccharge"
             label="Decrease charge"
             style="push">
          <visibleWhen
                checkEnabled="false">
             <reference
                   definitionId="net.bioclipse.cdk.jchempaint.selected.atom">
             </reference>
          </visibleWhen>
       </command>
       <separator
             name="net.bioclipse.cdk.jchempaint.atomspecific"
             visible="true">
       </separator>
       <separator
             name="net.bioclipse.cdk.jchempaint.managerActions">
       </separator>
       <command
             commandId="net.bioclipse.cdk.jchempaint.manager.action"
             label="Update Implicit Hydrogens"
             style="push">
          <parameter
                name="jcp.manager.method"
                value="updateImplicitHydrogenCounts">
          </parameter>
       </command>
       <command
             commandId="net.bioclipse.cdk.jchempaint.manager.action"
             label="Recalculate"
             style="push">
          <parameter
                name="jcp.manager.method"
                value="cleanup">
          </parameter>
       </command>
       <separator
             name="additions"
             visible="true">
       </separator>
       <command
             commandId="net.bioclipse.cdk.ui.editors.jchempaint.command.eraser"
             label="Delete"
             style="push">
       </command>
       <command
             commandId="net.bioclipse.cdk.jchempaint.manager.action"
             label="Clear"
             style="push">
          <parameter
                name="jcp.manager.method"
                value="zap">
          </parameter>
       </command>
    </menuContribution>
 </extension>

  <extension point="net.bioclipse.scripting.contribution">
    <scriptContribution
      id="net.bioclipse.cdk.jchempaint.business.JChemPaintManager"
      service="net.bioclipse.cdk.jchempaint.business.JChemPaintManagerFactory">
    </scriptContribution>
    <scriptContribution
      id="net.bioclipse.cdk.jchempaint.business.JChemPaintGlobalPropertiesManager"
      service="net.bioclipse.cdk.jchempaint.business.JChemPaintGlobalPropertiesManagerFactory">
    </scriptContribution>
  </extension>
  <extension
        point="org.eclipse.core.expressions.definitions">
     <definition
           id="net.bioclipse.cdk.jchempaint.editor.type">
        <with
              variable="activeEditorId">
           <or>
              <equals
                    value="net.bioclipse.cdk.ui.editors.jchempaint">
              </equals>
              <equals
                    value="net.bioclipse.cdk.ui.editors.jchempaint.mdl">
              </equals>
              <equals
                    value="net.bioclipse.cdk.ui.editors.jchempaint.cml">
              </equals>
           </or>
        </with>
     </definition>
     <definition
           id="net.bioclipse.cdk.jchempaint.selected.atom">
        <with
              variable="activeMenuSelection">
           <iterate
                 ifEmpty="false">
              <instanceof
                    value="org.openscience.cdk.interfaces.IAtom">
              </instanceof>
           </iterate>
        </with>
     </definition>
     <definition
           id="net.bioclipse.cdk.jchempaint.selected.bond">
        <with
              variable="activeMenuSelection">
           <iterate
                 ifEmpty="false">
              <instanceof
                    value="org.openscience.cdk.interfaces.IBond">
              </instanceof>
           </iterate>
        </with>
     </definition>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="popup:net.bioclipse.cdk.ui.editors.jchempaint">
        <command
              commandId="net.bioclipse.cdk.jchempaint.manager.action"
              label="Add Hexagon"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <reference
                    definitionId="net.bioclipse.cdk.jchempaint.selected.bond">
              </reference>
           </visibleWhen>
        </command>
        <command
              commandId="net.bioclipse.cdk.jchempaint.manager.action"
              label="Atom action"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <reference
                    definitionId="net.bioclipse.cdk.jchempaint.selected.atom">
              </reference>
           </visibleWhen>
        </command>
     </menuContribution>
  </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.bioclipse.cdk.jchempaint.preferences.JChemPaintPreferencePage"
            id="net.bioclipse.cdk.jchempaint.preferences.JChemPaintPreferencePage"
            category="net.bioclipse.cdk.business.preferences.CDKPreferencePage"
            name="JChemPaint Preferences">
      </page>
   </extension>

</plugin>
