<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.bioclipse.cdk.jchempaint.editor.JChemPaintEditor"
            default="true"
            icon="icons/editor/triangle.gif"
            id="net.bioclipse.cdk.ui.editors.jchempaint"
            name="JChemPaintEditor">
         <contentTypeBinding
               contentTypeId="net.bioclipse.contenttypes.cml.singleMolecule2d">
         </contentTypeBinding>
      </editor>
   </extension>
 <extension
       id="net.bioclipse.cdk.jchempaint.commands"
       name="JChemPaintToolbarCommands"
       point="org.eclipse.ui.commands">
    <command
          defaultHandler="net.bioclipse.cdk.jchempaint.handlers.AddHandler"
          id="net.bioclipse.cdk.ui.editors.jchempaint.command.new_atom_bond"
          name="Add">
    </command>
    <command
          defaultHandler="net.bioclipse.cdk.jchempaint.handlers.RemoveHandler"
          id="net.bioclipse.cdk.ui.editors.jchempaint.command.eraser"
          name="Remove">
    </command>
    <command
          defaultHandler="net.bioclipse.cdk.jchempaint.handlers.SelectHandler"
          id="net.bioclipse.cdk.ui.editors.jchempaint.command.lasso"
          name="Select">
    </command>
    <command
          defaultHandler="net.bioclipse.cdk.jchempaint.handlers.InchargeHandler"
          id="net.bioclipse.cdk.ui.editors.jchempaint.command.incharge"
          name="Increas Charge">
    </command>
    <command
          defaultHandler="net.bioclipse.cdk.jchempaint.handlers.DecchargeHandler"
          id="net.bioclipse.cdk.ui.editors.jchempaint.command.deccharge"
          name="Decreas Charge">
    </command>
    <command
          defaultHandler="net.bioclipse.cdk.jchempaint.handlers.MoveHandler"
          id="net.bioclipse.cdk.ui.editors.jchempaint.command.move"
          name="Move">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
       <toolbar
             id="net.bioclipse.cdk.ui.jchempaint.toolbar">
          <command
                commandId="net.bioclipse.cdk.ui.editors.jchempaint.command.new_atom_bond"
                icon="icons/editor/new_atom_bond.gif"
                style="radio">
             <visibleWhen
                   checkEnabled="true">
                <with
                      variable="activeEditorId">    
               <equals
                         value="net.bioclipse.cdk.ui.editors.jchempaint">
                   </equals>
                </with>
             </visibleWhen>
          </command>
          <command
                commandId="net.bioclipse.cdk.ui.editors.jchempaint.command.eraser"
                icon="icons/editor/eraser.gif"
                style="radio">
             <visibleWhen
                   checkEnabled="true">
                <with
                      variable="activeEditorId">
                   <equals
                         value="net.bioclipse.cdk.ui.editors.jchempaint">
                   </equals>
                </with>
             </visibleWhen>
          </command>
          <command
                commandId="net.bioclipse.cdk.ui.editors.jchempaint.command.lasso"
                icon="icons/editor/lasso.gif"
                style="radio">
             <visibleWhen
                   checkEnabled="true">
                <with
                      variable="activeEditorId">
                   <equals
                         value="net.bioclipse.cdk.ui.editors.jchempaint">
                   </equals>
                </with>
             </visibleWhen>
          </command>
          <command
                commandId="net.bioclipse.cdk.ui.editors.jchempaint.command.incharge"
                icon="icons/editor/charge_plus.gif"
                style="radio">
             <visibleWhen
                   checkEnabled="true">
                <with
                      variable="activeEditorId">
                   <equals
                         value="net.bioclipse.cdk.ui.editors.jchempaint">
                   </equals>
                </with>
             </visibleWhen>
          </command>
          <command
                commandId="net.bioclipse.cdk.ui.editors.jchempaint.command.deccharge"
                icon="icons/editor/charge_minus.gif"
                style="radio">
             <visibleWhen
                   checkEnabled="true">
                <with
                      variable="activeEditorId">
                   <equals
                         value="net.bioclipse.cdk.ui.editors.jchempaint">
                   </equals>
                </with>
             </visibleWhen>
          </command>
          <command
                commandId="net.bioclipse.cdk.ui.editors.jchempaint.command.move"
                icon="icons/editor/move.gif"
                style="radio">
             <visibleWhen
                   checkEnabled="true">
                <with
                      variable="activeEditorId">
                   <equals
                         value="net.bioclipse.cdk.ui.editors.jchempaint">
                   </equals>
                </with>
             </visibleWhen>
          </command>
       </toolbar>
    </menuContribution>
    <menuContribution
          locationURI="popup:net.bioclipse.cdk.ui.editors.jchempaint">
       <command
             commandId="net.bioclipse.cdk.ui.editors.jchempaint.command.new_atom_bond"
             label="Add"
             mode="FORCE_TEXT"
             style="push">
       </command>
       <command
             commandId="net.bioclipse.cdk.ui.editors.jchempaint.command.eraser"
             label="Delete"
             style="push">
       </command>
       <command
             commandId="net.bioclipse.cdk.ui.editors.jchempaint.command.incharge"
             label="Increase charge"
             style="push">
          <visibleWhen
                checkEnabled="true">
             <with
                     variable="activeMenuSelection">
                  <iterate>
                     <instanceof
                           value="org.openscience.cdk.interfaces.IAtom">
                     </instanceof>
                  </iterate>
               </with>

          </visibleWhen>
       </command>
       <command
             commandId="net.bioclipse.cdk.ui.editors.jchempaint.command.deccharge"
             label="Decrease charge"
             style="push">
          <visibleWhen
                checkEnabled="true">
             <with
                   variable="activeMenuSelection">
                <iterate>
                   <instanceof
                         value="org.openscience.cdk.interfaces.IAtom">
                   </instanceof>
                </iterate>
             </with>
          </visibleWhen>
       </command>
    </menuContribution>
 </extension>
 
  <extension point="net.bioclipse.scripting.contribution">
    <scriptContribution
      id="net.bioclipse.cdk.jchempaint.business.JChemPaintManager"
      service="net.bioclipse.cdk.jchempaint.business.JChemPaintManagerFactory">
    </scriptContribution>
  </extension>
 
</plugin>
