<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    <extension point="org.eclipse.ui.newWizards">
      <wizard
            category="net.bioclipse.cheminformatics"
            class="net.bioclipse.opsin.ui.wizards.NewFromIUPACWizard"
            id="net.bioclipse.opsin.ui.wizards.NewFromIUPACWizard"
            icon="icons/molecule3D.png"
            name="Molecule from IUPAC name">
            preferredPerspectives="net.bioclipse.chemoinformatics.ChemoinformaticsPerspective">
      </wizard>
   </extension>
    <extension
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension
             targetID="net.bioclipse.chemoinformatics.ChemoinformaticsPerspective">
          <newWizardShortcut
                id="net.bioclipse.opsin.ui.wizards.NewFromIUPACWizard">
          </newWizardShortcut>
       </perspectiveExtension>
    </extension>

</plugin>
