<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension
         point="net.bioclipse.scripting.contribution">
    	 <scriptContribution
        	id="net.bioclipse.cml.ValidateCMLManager"
            service="net.bioclipse.cml.managers.ValidateCMLManagerFactory">
      	</scriptContribution>
   </extension>

	<extension
    	point="org.eclipse.help.toc">
		<toc
        	file="toc.xml"
         	primary="true"/>
	</extension>
	
    <extension
        point="org.eclipse.ui.commands">
        <command
           id="net.bioclipse.cml.handlers.validatecml"
           defaultHandler="net.bioclipse.cml.handlers.CMLValidationHandler"
           name="validatecml"/>
  	</extension>

	<extension 
  		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:org.eclipse.ui.popup.any?after=additions">
		    <command
		    	commandId="net.bioclipse.cml.handlers.validatecml"
		    	label="Validate CML">
		      	<visibleWhen>
			   		<iterate operator="and" ifEmpty="false">
		      			<adapt type="org.eclipse.core.resources.IFile">
			      			<or>
								<test property="org.eclipse.core.resources.name" value="*.xml"/> 
            					<test property="org.eclipse.core.resources.name" value="*.cml"/> 
				            </or>
			      		</adapt>
			   		</iterate>
		        </visibleWhen>
	       </command>
		</menuContribution>
   </extension>
    <extension
          point="org.eclipse.wst.xml.core.catalogContributions">
       <catalogContribution>
          <uri name="http://www.xml-cml.org/schema" uri="schema24/schema.xsd"/>
       </catalogContribution>
    </extension>

	<!--extension
       	point="net.bioclipse.childResourceExtractor">
    	<ChildResourceExtractor
          class="net.bioclipse.extensions.CMLChildResourceCreator"
          id="bioclipse.CMLChildResourceCreator"
          name="CML Child Resource Creator"/>
 	</extension-->
 	
 	    <extension
          point="org.eclipse.core.runtime.contentTypes">
          <content-type
                base-type="org.eclipse.core.runtime.xml"
                id="net.bioclipse.contenttypes.cml"
                name="Chemical Markup Language (CML)"
                file-extensions="cml,xml"
                priority="normal">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
              <parameter name="element"
                         value="{http://www.xml-cml.org/schema}*">
              </parameter>
            </describer>
          </content-type>
    </extension>

  <extension
           point="org.eclipse.core.runtime.contentTypes">
        
		<content-type
              base-type="net.bioclipse.contenttypes.cml"
	          id="net.bioclipse.contenttypes.cml.singleMolecule2d"
              name="CML (Single 2D Molecule)"
              priority="high">
		 	<describer class="net.bioclipse.cml.contenttypes.CmlFileDescriber">
            	<parameter
                    name="dimension"
                    value="2D">
              	</parameter>
              	<parameter
                    name="cardinality"
                    value="single">
              	</parameter>
       		</describer>
        </content-type>
        
        <content-type
              base-type="net.bioclipse.contenttypes.cml"
	          id="net.bioclipse.contenttypes.cml.multipleMolecule2d"
              name="CML (Multiple 2D Molecules)"
              priority="high">
		 	<describer class="net.bioclipse.cml.contenttypes.CmlFileDescriber">
            	<parameter
                    name="dimension"
                    value="2D">
              	</parameter>
              	<parameter
                    name="cardinality"
                    value="multiple">
              	</parameter>
       		</describer>
        </content-type>
        
        <content-type
              base-type="net.bioclipse.contenttypes.cml"
	          id="net.bioclipse.contenttypes.cml.singleMolecule3d"
              name="CML (Single 3D Molecule)"
              priority="high">
		 	<describer class="net.bioclipse.cml.contenttypes.CmlFileDescriber">
            	<parameter
                    name="dimension"
                    value="3D">
              	</parameter>
              	<parameter
                    name="cardinality"
                    value="single">
              	</parameter>
       		</describer>
        </content-type>
        
        <content-type
              base-type="net.bioclipse.contenttypes.cml"
	          id="net.bioclipse.contenttypes.cml.multipleMolecule3d"
              name="CML (Multiple 3D Molecules)"
              priority="high">
		 	<describer class="net.bioclipse.cml.contenttypes.CmlFileDescriber">
            	<parameter
                    name="dimension"
                    value="3D">
              	</parameter>
              	<parameter
                    name="cardinality"
                    value="multiple">
              	</parameter>
       		</describer>
        </content-type>

        <content-type
              base-type="net.bioclipse.contenttypes.cml"
	          id="net.bioclipse.contenttypes.cml.singleMolecule5d"
              name="CMLSingleMoleculeContentType5D"
              priority="high">
		 	<describer class="net.bioclipse.cml.contenttypes.CmlFileDescriber">
            	<parameter
                    name="dimension"
                    value="5D">
              	</parameter>
              	<parameter
                    name="cardinality"
                    value="single">
              	</parameter>
       		</describer>
        </content-type>
        
        <content-type
              base-type="net.bioclipse.contenttypes.cml"
	          id="net.bioclipse.contenttypes.cml.multipleMolecule5d"
              name="CMLMultipleMoleculeContentType5D"
              priority="high">
		 	<describer class="net.bioclipse.cml.contenttypes.CmlFileDescriber">
            	<parameter
                    name="dimension"
                    value="5D">
              	</parameter>
              	<parameter
                    name="cardinality"
                    value="multiple">
              	</parameter>
       		</describer>
        </content-type>
 	</extension>
 	
</plugin>
