<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension
         point="net.bioclipse.scripting.contribution">
    	 <scriptContribution
        	id="net.bioclipse.cml.ValidateCMLManager"
            service="net.bioclipse.cml.managers.ValidateCMLManagerFactory">
      	</scriptContribution>
   </extension>

	<extension
    	point="org.eclipse.help.toc">
		<toc
        	file="toc.xml"
         	primary="true"/>
	</extension>
	
    <extension
        point="org.eclipse.ui.commands">
        <command
           id="net.bioclipse.cml.handlers.validatecml"
           defaultHandler="net.bioclipse.cml.handlers.CMLValidationHandler"
           name="validatecml"/>
  	</extension>

	<extension 
  		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:org.eclipse.ui.popup.any?after=additions">
		    <command
		    	commandId="net.bioclipse.cml.handlers.validatecml"
		    	label="Validate CML">
		      	<visibleWhen>
			   		<iterate operator="and" ifEmpty="false">
		      			<adapt type="org.eclipse.core.resources.IFile">
			      		</adapt>
			   		</iterate>
		        </visibleWhen>
	       </command>
		</menuContribution>
   </extension>
    <extension
          point="org.eclipse.wst.xml.core.catalogContributions">
       <catalogContribution>
          <uri name="http://www.xml-cml.org/schema" uri="schema24/schema.xsd"/>
       </catalogContribution>
    </extension>

	<!--extension
       	point="net.bioclipse.childResourceExtractor">
    	<ChildResourceExtractor
          class="net.bioclipse.extensions.CMLChildResourceCreator"
          id="bioclipse.CMLChildResourceCreator"
          name="CML Child Resource Creator"/>
 	</extension-->
 	
</plugin>
