<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>



	<!-- declare a content type to eliminate duplicated file extensions -->
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            id="net.bioclipse.cdk.ui.moleculeType"
            name="molecule"
             base-type="org.eclipse.core.runtime.text"
			file-extensions="cml,xml,mol,mdl,xyz,pdb,sdf,sd,in,out,cif,log,hin,inchi,smi,rxn,mol2,res"
            >
      </content-type>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <!--view
            name="2D-Structure (Single Molecule)"
	        icon="icons/molecule2D.png"
            category="net.bioclipse.cdk.category"
            class="net.bioclipse.cdk.ui.views.Java2DRendererView"
            id="net.bioclipse.cdk.ui.views.Java2DRendererView">
      </view-->
      <category
            id="net.bioclipse.cdk.category"
            name="Chemoinformatics">
      </category>
      <view
            category="net.bioclipse.cdk.category"
            class="net.bioclipse.cdk.ui.views.Java2DRendererView"
            icon="icons/molecule2D.png"
            id="net.bioclipse.cdk.ui.view.Java2DRendererView"
            name="2D-Structure"
            restorable="false">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="net.bioclipse.cdk.ui.views.MoleculeContentProvider"
            id="net.bioclipse.cdk.ui.views.MoleculeContent"
            labelProvider="net.bioclipse.cdk.ui.views.MoleculeLabelProvider"
            name="Molecule Content">
            <commonSorter
                  class="net.bioclipse.cdk.ui.SDFElementSorter">
            </commonSorter>
         <triggerPoints>
         <or>
         <and>
            <instanceof value="org.eclipse.core.resources.IResource"/>
            <or>
            <test
            	forcePluginActivation="true"
            	property="org.eclipse.core.resources.extension"
            	value="sdf"/>
            <test
                  forcePluginActivation="true"
                  property="org.eclipse.core.resources.extension"
                  value="smi">
            </test>
            </or>
         </and>
         <instanceof value="net.bioclipse.cdk.ui.model.IMoleculesFromFile" />
         <instanceof value="net.bioclipse.cdk.domain.SDFElement" />
         </or>
         </triggerPoints>
      </navigatorContent>
   </extension>

<!-- Add MoleculeContent to expand molecules with CDK -->
<extension
      point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="net.bioclipse.navigator">
            <includes>
            <contentExtension
                  pattern="net.bioclipse.cdk.ui.views.MoleculeContent">
            </contentExtension>
            </includes>
      </viewerContentBinding>
</extension>

<!-- Contribute an Object Contribution to delete individual properties in the view -->

   <!--extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="net.bioclipse.cdk.ui.actions.moleculeResource"
            objectClass="net.bioclipse.core.domain.IMolecule">
         <action
               class="net.bioclipse.cdk.ui.actions.CreateSmilesAction"
               enablesFor="1"
               icon="icons/molecule2D.png"
               id="net.bioclipse.cdk.ui.actions.CreateSmilesAction"
               label="Create Smiles"
               menubarPath="additions"
               tooltip="Create SMILES code for the selected molecule"/>
      </objectContribution> 
   </extension-->

   <extension point="org.eclipse.ui.popupMenus">
    <objectContribution
      id="net.bioclipse.cdk.ui.popup.recreate3d"
      objectClass="org.eclipse.core.resources.IFile">
        <visibility>
        <or>
           <objectState
             name="contentTypeId"
             value="net.bioclipse.contenttypes.cml.singleMolecule3d"/>
           <objectState
             name="contentTypeId"
             value="net.bioclipse.contenttypes.mdlMolFile3D"/>
        </or>
        </visibility>
         <action
           class="net.bioclipse.cdk.ui.handlers.Create3dHandler"
           id="net.bioclipse.cdk.ui.handlers.create3d"
           label="Rereate 3D coordinates"
           menubarPath="additions" 
           icon="icons/molecule3D.png">
         </action>
    </objectContribution>
   </extension>


   <extension point="org.eclipse.ui.popupMenus">
    <objectContribution
      id="net.bioclipse.cdk.ui.popup.create3d"
      objectClass="org.eclipse.core.resources.IFile">
        <visibility>
        <or>
           <objectState
             name="contentTypeId"
             value="net.bioclipse.contenttypes.mdlMolFile2D"/>
           <objectState
             name="contentTypeId"
             value="net.bioclipse.contenttypes.cml.singleMolecule2d"/>
        </or>
        </visibility>
         <action
           class="net.bioclipse.cdk.ui.handlers.Create3dHandler"
           id="net.bioclipse.cdk.ui.handlers.create3d"
           label="Create 3D coordinates"
           menubarPath="additions" 
           icon="icons/molecule3D.png">
         </action>
    </objectContribution>
   </extension>
   
   <extension point="org.eclipse.ui.popupMenus">
    <objectContribution
      id="net.bioclipse.cdk.ui.popup.recreate2d"
      objectClass="org.eclipse.core.resources.IFile">
        <visibility>
        <or>
           <objectState
             name="contentTypeId"
             value="net.bioclipse.contenttypes.mdlMolFile2D"/>
           <objectState
             name="contentTypeId"
             value="net.bioclipse.contenttypes.cml.singleMolecule2d"/>
        </or>
        </visibility>
         <action
           class="net.bioclipse.cdk.ui.handlers.Create2dHandler"
           id="net.bioclipse.cdk.ui.handlers.create2d"
           label="Recreate 2D coordinates"
           menubarPath="additions" 
           icon="icons/molecule2D.png">
         </action>
    </objectContribution>
   </extension>


   <extension point="org.eclipse.ui.popupMenus">
    <objectContribution
      id="net.bioclipse.cdk.ui.popup.create2d"
      objectClass="org.eclipse.core.resources.IFile">
        <visibility>
        <or>
           <objectState
             name="contentTypeId"
             value="net.bioclipse.contenttypes.cml.singleMolecule3d"/>
           <objectState
             name="contentTypeId"
             value="net.bioclipse.contenttypes.mdlMolFile3D"/>
        </or>
        </visibility>
         <action
           class="net.bioclipse.cdk.ui.handlers.Create2dHandler"
           id="net.bioclipse.cdk.ui.handlers.create2d"
           label="Create 2D coordinates"
           menubarPath="additions" 
           icon="icons/molecule2D.png">
         </action>
    </objectContribution>
   </extension>
   	
	<extension
    	point="org.eclipse.help.toc">
		<toc
        	file="toc.xml"
         	primary="true"/>
	</extension>
 <extension
       point="org.eclipse.core.runtime.adapters">
    <factory
          adaptableType="org.eclipse.ui.IEditorInput"
          class="net.bioclipse.cdk.ui.MoleculesEditorModelAdapterFactory">
       <adapter
             type="net.bioclipse.cdk.ui.views.IMoleculesEditorModel">
       </adapter>
    </factory>
 </extension>
</plugin>
