<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>



	<!-- declare a content type to eliminate duplicated file extensions -->
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            id="net.bioclipse.cdk.ui.moleculeType"
            name="molecule"
             base-type="org.eclipse.core.runtime.text"
			file-extensions="cml,xml,mol,mdl,xyz,pdb,sdf,sd,in,out,cif,log,hin,inchi,smi,rxn,mol2,res"
            >
      </content-type>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <!--view
            name="2D-Structure (Single Molecule)"
	        icon="icons/molecule2D.png"
            category="net.bioclipse.cdk.category"
            class="net.bioclipse.cdk.ui.views.Java2DRendererView"
            id="net.bioclipse.cdk.ui.views.Java2DRendererView">
      </view-->
      <category
            id="net.bioclipse.cdk.category"
            name="Chemoinformatics">
      </category>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="net.bioclipse.cdk.ui.views.MoleculeContentProvider"
            id="net.bioclipse.cdk.ui.views.MoleculeContent"
            labelProvider="net.bioclipse.cdk.ui.views.MoleculeLabelProvider"
            name="Molecule Content">
            <commonSorter
                  class="net.bioclipse.cdk.ui.SDFElementSorter">
            </commonSorter>
         <triggerPoints>
         <or>
         <and>
            <instanceof value="org.eclipse.core.resources.IResource"/>
            <or>
            <test
            	forcePluginActivation="true"
            	property="org.eclipse.core.resources.extension"
            	value="sdf"/>
            </or>
         </and>
         <instanceof value="net.bioclipse.cdk.ui.model.MoleculesFromSDF" />
         <instanceof value="net.bioclipse.cdk.domain.SDFElement" />
         </or>
         </triggerPoints>
      </navigatorContent>
   </extension>

<!-- Add MoleculeContent to expand molecules with CDK -->
<extension
      point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="net.bioclipse.navigator">
            <includes>
            <contentExtension
                  pattern="net.bioclipse.cdk.ui.views.MoleculeContent">
            </contentExtension>
            </includes>
      </viewerContentBinding>
</extension>

<!-- Contribute an Object Contribution to delete individual properties in the view -->

   <!--extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="net.bioclipse.cdk.ui.actions.moleculeResource"
            objectClass="net.bioclipse.core.domain.IMolecule">
         <action
               class="net.bioclipse.cdk.ui.actions.CreateSmilesAction"
               enablesFor="1"
               icon="icons/molecule2D.png"
               id="net.bioclipse.cdk.ui.actions.CreateSmilesAction"
               label="Create Smiles"
               menubarPath="additions"
               tooltip="Create SMILES code for the selected molecule"/>
      </objectContribution> 
   </extension>

  	<extension
        point="org.eclipse.ui.commands">
     	<category
              id="net.bioclipse.ui.CDKCategory"
              name="CdkCategory">
     	</category>
     	<command
           id="net.bioclipse.ui.commands.create2d"
           categoryId="net.bioclipse.ui.CDKCategory"
           name="Create 2D coordinates"/>
  	</extension>

	<extension
        point="org.eclipse.ui.handlers">
     	<handler
        	class="net.bioclipse.cdk.ui.handlers.Create2dHandler"
        	commandId="net.bioclipse.ui.commands.create2d"> 
     	</handler>
	</extension> 
	
	<extension 
  		point="org.eclipse.ui.menus">
  		<menuContribution
        	locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        	<command
        		icon="icons/molecule2D.png"
    	    	commandId="net.bioclipse.ui.commands.create2d">
        	</command>
     	</menuContribution>
	</extension-->
	
	<extension
    	point="org.eclipse.help.toc">
		<toc
        	file="toc.xml"
         	primary="true"/>
	</extension>
 <extension
       point="org.eclipse.core.runtime.adapters">
    <factory
          adaptableType="org.eclipse.ui.IEditorInput"
          class="net.bioclipse.cdk.ui.MoleculesEditorModelAdapterFactory">
       <adapter
             type="net.bioclipse.cdk.ui.views.IMoleculesEditorModel">
       </adapter>
    </factory>
 </extension>
</plugin>
