<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>



	<!-- declare a content type to eliminate duplicated file extensions -->
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            id="net.bioclipse.cdk.ui.moleculeType"
            name="molecule"
             base-type="org.eclipse.core.runtime.text"
			file-extensions="cml,xml,mol,mdl,xyz,pdb,sdf,sd,in,out,cif,log,hin,inchi,smi,rxn,mol2,res"
            >
      </content-type>
   </extension>


   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="net.bioclipse.cdk.ui.views.MoleculeContentProvider"
            id="net.bioclipse.cdk.ui.views.MoleculeContent"
            labelProvider="net.bioclipse.cdk.ui.views.MoleculeLabelProvider"
            name="Molecule Content">
            <commonSorter
                  class="net.bioclipse.cdk.ui.SDFElementSorter">
            </commonSorter>
         <triggerPoints>
         <or>
         <and>
            <instanceof value="org.eclipse.core.resources.IResource"/>
            <or>
            <test
            	forcePluginActivation="true"
            	property="org.eclipse.core.resources.extension"
            	value="sdf"/>
            <test
                  forcePluginActivation="true"
                  property="org.eclipse.core.resources.extension"
                  value="smi">
            </test>
            </or>
         </and>
         <instanceof value="net.bioclipse.cdk.ui.model.IMoleculesFromFile" />
         <instanceof value="net.bioclipse.cdk.domain.SDFElement" />
         </or>
         </triggerPoints>
      </navigatorContent>
   </extension>

<!-- Add MoleculeContent to expand molecules with CDK -->
<extension
      point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="net.bioclipse.navigator">
            <includes>
            <contentExtension
                  pattern="net.bioclipse.cdk.ui.views.MoleculeContent">
            </contentExtension>
            </includes>
      </viewerContentBinding>
</extension>

<!-- Contribute an Object Contribution to delete individual properties in the view -->

   <!--extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="net.bioclipse.cdk.ui.actions.moleculeResource"
            objectClass="net.bioclipse.core.domain.IMolecule">
         <action
               class="net.bioclipse.cdk.ui.actions.CreateSmilesAction"
               enablesFor="1"
               icon="icons/molecule2D.png"
               id="net.bioclipse.cdk.ui.actions.CreateSmilesAction"
               label="Create Smiles"
               menubarPath="additions"
               tooltip="Create SMILES code for the selected molecule"/>
      </objectContribution> 
   </extension-->
   
    <extension
        point="org.eclipse.ui.commands">
        <command
           id="net.bioclipse.cdk.ui.handlers.create3d"
           defaultHandler="net.bioclipse.cdk.ui.handlers.Create3dHandler"
           name="create3D"/>
        <command
           id="net.bioclipse.cdk.ui.handlers.create2d"
           defaultHandler="net.bioclipse.cdk.ui.handlers.Create2dHandler"
           name="create2D"/>
  	</extension>

	<extension 
  		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:org.eclipse.ui.popup.any?after=additions">
		    <command
		    	commandId="net.bioclipse.cdk.ui.handlers.create3d"
		    	label="Recreate 3D coordinates"
		        icon="icons/molecule3D.png">
		      	<visibleWhen>
			   		<iterate operator="and" ifEmpty="false">
		      			<adapt type="org.eclipse.core.resources.IResource">
			      			<or>
				                <test property="org.eclipse.core.resources.contentTypeId" 
				           	    	value="net.bioclipse.contenttypes.cml.singleMolecule3d"/>
					   		    <test property="org.eclipse.core.resources.contentTypeId" 
				       	        	value="net.bioclipse.contenttypes.mdlMolFile3D"/>
				            </or>
			      		</adapt>
			   		</iterate>
		        </visibleWhen>
	       </command>
		</menuContribution>
		<menuContribution
			locationURI="popup:org.eclipse.ui.popup.any?after=additions">
		    <command
		    	commandId="net.bioclipse.cdk.ui.handlers.create3d"
		    	label="Create 3D coordinates"
		        icon="icons/molecule3D.png">
		      	<visibleWhen>
			   		<iterate operator="and" ifEmpty="false">
		      			<adapt type="org.eclipse.core.resources.IResource">
			      			<or>
				                <test property="org.eclipse.core.resources.contentTypeId" 
				           	    	value="net.bioclipse.contenttypes.mdlMolFile2D"/>
					   		    <test property="org.eclipse.core.resources.contentTypeId" 
				       	        	value="net.bioclipse.contenttypes.cml.singleMolecule2d"/>
				            </or>
			      		</adapt>
			   		</iterate>
		        </visibleWhen>
	       </command>
		</menuContribution>
		<menuContribution
			locationURI="popup:org.eclipse.ui.popup.any?after=additions">
		    <command
		    	commandId="net.bioclipse.cdk.ui.handlers.create2d"
		    	label="Recreate 2D coordinates"
		        icon="icons/molecule2D.png">
		      	<visibleWhen>
			   		<iterate operator="and" ifEmpty="false">
		      			<adapt type="org.eclipse.core.resources.IResource">
			      			<or>
				                <test property="org.eclipse.core.resources.contentTypeId" 
				           	    	value="net.bioclipse.contenttypes.cml.singleMolecule2d"/>
					   		    <test property="org.eclipse.core.resources.contentTypeId" 
				       	        	value="net.bioclipse.contenttypes.mdlMolFile2D"/>
				            </or>
			      		</adapt>
			   		</iterate>
		        </visibleWhen>
	       </command>
		</menuContribution>
		<menuContribution
			locationURI="popup:org.eclipse.ui.popup.any?after=additions">
		    <command
		    	commandId="net.bioclipse.cdk.ui.handlers.create2d"
		    	label="Create 2D coordinates"
		        icon="icons/molecule2D.png">
		      	<visibleWhen>
			   		<iterate operator="and" ifEmpty="false">
		      			<adapt type="org.eclipse.core.resources.IResource">
			      			<or>
				                <test property="org.eclipse.core.resources.contentTypeId" 
				           	    	value="net.bioclipse.contenttypes.cml.singleMolecule3d"/>
					   		    <test property="org.eclipse.core.resources.contentTypeId" 
				       	        	value="net.bioclipse.contenttypes.mdlMolFile3D"/>
				            </or>
			      		</adapt>
			   		</iterate>
		        </visibleWhen>
	       </command>
		</menuContribution>
	</extension>

	<extension
    	point="org.eclipse.help.toc">
		<toc
        	file="toc.xml"
         	primary="true"/>
	</extension>

 <extension
       point="org.eclipse.core.runtime.adapters">
    <factory
          adaptableType="org.eclipse.ui.IEditorInput"
          class="net.bioclipse.cdk.ui.MoleculesEditorModelAdapterFactory">
       <adapter
             type="net.bioclipse.cdk.ui.views.IMoleculesEditorModel">
       </adapter>
    </factory>
 </extension>
</plugin>
