<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="net.bioclipse.chemoinformatics.exportwizards.category"
            name="Chemoinformatics">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.bioclipse.chemoinformatics.views.category"
            name="Chemoinformatics">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="net.bioclipse.chemoinformatics.importwizards.category"
            name="Chemoinformatics">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="net.bioclipse.cdk.ChemistryFiles"
            name="Chemistry Files"/>
      <wizard
            class="net.bioclipse.chemoinformatics.wizards.NewMDLMolfileWizard"
            id="net.bioclipse.chemoinformatics.wizards.NewMDLMolfileWizard"
            category="net.bioclipse.cdk.ChemistryFiles"
            name="New MDL Molfile">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="net.bioclipse.chemoinformatics.wizards.NewCMLFileWizard"
            id="net.bioclipse.chemoinformatics.wizards.NewCMLFileWizard"
            category="net.bioclipse.cdk.ChemistryFiles"
            name="New CML File">
      </wizard>
   </extension>

</plugin>
