<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension
		point="org.eclipse.ui.contexts">
		<context
			name="Chemoinformatics"
			description="Chemoinformatics"
			id="net.bioclipse.contexts.chemoinformatics">
		</context>
   </extension>


   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="net.bioclipse.chemoinformatics.exportwizards.category"
            name="Chemoinformatics">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.bioclipse.chemoinformatics.views.category"
            name="Chemoinformatics">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="net.bioclipse.chemoinformatics.importwizards.category"
            name="Chemoinformatics">
      </category>
   </extension>
   <!-- extension
         point="org.eclipse.ui.newWizards">
      <category
            id="net.bioclipse.cdk.ChemistryFiles"
            name="Chemistry"/>
      <wizard
            category="net.bioclipse.cdk.ChemistryFiles"
            class="net.bioclipse.chemoinformatics.wizards.NewMDLMolfileWizard"
            icon="icons/molecule3D.png"
            id="net.bioclipse.chemoinformatics.wizards.NewMDLMolfileWizard"
            name="Molecule (in MDL format)"
            preferredPerspectives="net.bioclipse.chemoinformatics.ChemoinformaticsPerspective">
      </wizard>
   </extension-->
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="net.bioclipse.cdk.ChemistryFiles"
            class="net.bioclipse.chemoinformatics.wizards.NewCMLFileWizard"
            icon="icons/molecule3D.png"
            id="net.bioclipse.chemoinformatics.wizards.NewCMLFileWizard"
            name="Molecule"
            preferredPerspectives="net.bioclipse.chemoinformatics.ChemoinformaticsPerspective">
      </wizard>
   </extension>

  <extension point="org.eclipse.ui.navigator.navigatorContent">
    <commonWizard type="new"
        wizardId="net.bioclipse.chemoinformatics.wizards.NewCMLFileWizard">
      <enablement>
        <or>
          <adapt type="org.eclipse.core.resources.IFile" />
          <adapt type="org.eclipse.core.resources.IFolder" />
          <adapt type="org.eclipse.core.resources.IProject" />
          <adapt type="org.eclipse.core.resources.IWorkspaceRoot" />
        </or>
      </enablement>
    </commonWizard>
  </extension>

   <extension point="org.eclipse.ui.perspectives">
      <perspective name="Chemoinformatics"
          class="net.bioclipse.chemoinformatics.ChemoinformaticsPerspective"
          id="net.bioclipse.chemoinformatics.ChemoinformaticsPerspective"
          icon="icons/molecule3D.png">
      </perspective>
   </extension>

     <extension
        point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension
           targetID="net.bioclipse.ui.Perspective">
        <perspectiveShortcut
              id="net.bioclipse.chemoinformatics.ChemoinformaticsPerspective">
        </perspectiveShortcut>
     </perspectiveExtension>
  </extension>

  <extension point="org.eclipse.core.runtime.contentTypes">
    <content-type base-type="org.eclipse.core.runtime.text"
      id="net.bioclipse.contenttypes.smiles.singlemol"
      name="SMILES value (Single Molecule)"
      file-extensions="smiles,smi"
      priority="normal">
    </content-type>
    <content-type
              base-type="org.eclipse.core.runtime.text"
              file-extensions="pdb"
              id="net.bioclipse.contenttypes.pdb"
              name="Protein Brookhaven Database File"
              priority="high">
        </content-type>

        <content-type
              base-type="org.eclipse.core.runtime.text"
              id="net.bioclipse.contenttypes.sdf"
              file-extensions="sdf"
              name="MDL SD file"
              priority="high">
        </content-type>
        <content-type
              base-type="net.bioclipse.contenttypes.sdf"
              file-extensions="sdf"
              id="net.bioclipse.contenttypes.sdf2d"
              name="MDL SD file (2D)"
              priority="high">
		   <describer class="net.bioclipse.chemoinformatics.contenttypes.MdlMolFileCoordinatesDescriber">
              <parameter name="type" value="2D"/>
       	   </describer>
        </content-type>
        <content-type
              base-type="net.bioclipse.contenttypes.sdf"
              file-extensions="sdf"
              id="net.bioclipse.contenttypes.sdf3d"
              name="MDL SD file (3D)"
              priority="high">
		   <describer class="net.bioclipse.chemoinformatics.contenttypes.MdlMolFileCoordinatesDescriber">
              <parameter name="type" value="3D"/>
       	   </describer>
        </content-type>

        <content-type
              base-type="org.eclipse.core.runtime.text"
              file-extensions="smi"
              id="net.bioclipse.contenttypes.smi"
              name="SMILES (Multiple Molecules)"
              priority="high">
        </content-type>

        <content-type
              base-type="org.eclipse.core.runtime.text"
              id="net.bioclipse.contenttypes.mdlMolFile"
              name="MDL MolFile"
              priority="high">
        </content-type>

        <content-type
              base-type="net.bioclipse.contenttypes.mdlMolFile"
              file-extensions="mdl,mol"
              id="net.bioclipse.contenttypes.mdlMolFile2D"
              name="MDL Molfile (2D)"
              priority="high">
		 <describer class="net.bioclipse.chemoinformatics.contenttypes.MdlMolFileCoordinatesDescriber">
              <parameter
                    name="type"
                    value="2D">
              </parameter>
       	</describer>
        </content-type>

        <content-type
              base-type="net.bioclipse.contenttypes.mdlMolFile"
              file-extensions="mdl,mol"
              id="net.bioclipse.contenttypes.mdlMolFile3D"
              name="MDL molfile (3D)"
              priority="high">
		 <describer class="net.bioclipse.chemoinformatics.contenttypes.MdlMolFileCoordinatesDescriber">
              <parameter
                    name="type"
                    value="3D">
              </parameter>
       	</describer>
        </content-type>

     </extension>


  <extension point="org.eclipse.ui.menus">

     <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
		<menu label="Generate 2D"
		      id="net.bioclipse.chemoinformatics.popup.gen2d">
		</menu>
		<menu label="Generate 3D"
		      id="net.bioclipse.chemoinformatics.popup.gen3d">
		</menu>
		<menu label="Generate Conformers"
			  id="net.bioclipse.chemoinformatics.popup.genConformers">
		</menu>
      </menuContribution>
 </extension>

   <extension
         id="net.bioclipse.chemoinformatics.cheatsheet"
         name="General Chemistry tasks"
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="net.bioclipse.chemoinformatics.cheatsheet.category"
            name="Chemistry"/>
      <cheatsheet
            category="net.bioclipse.chemoinformatics.cheatsheet.category"
            composite="false"
            contentFile="cheatsheets/GeneralChemoinformaticsCheatSheet.xml"
            id="net.bioclipse.chemoinformatics.cheatsheet.GeneralChemoinformaticsCheatsheet"
            name="General Chemistry Cheat Sheet"/>
   </extension>

   <extension point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="configextension.xml"/>  
   </extension>
</plugin>
