<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="net.bioclipse.cdk.jchempaint.generator" name="Renderer generator" schema="schema/generator.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.bioclipse.cdk.category"
            name="Chemoinformatics">
      </category>
      <view
            category="net.bioclipse.cdk.category"
            class="net.bioclipse.cdk.jchempaint.view.JChemPaintView"
            icon="icons/doc_mol_2d.png"
            id="net.bioclipse.cdk.ui.view.Java2DRendererView"
            name="2D-Structure"
            restorable="true">
      </view>
   </extension>

</plugin>
