<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="net.bioclipse.cdk.category"
            class="net.bioclipse.cdk.jchempaint.view.JChemPaintView"
            id="net.bioclipse.cdk.jchempaint.view.view1"
            name="JChemPaintView"
            restorable="true">
      </view>
   </extension>

</plugin>
