<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.newWizards">
	   <category
	         name="PubChem"
	         id="net.bioclipse.BioclipseCategory">
	   </category>
       <wizard
           canFinishEarly="false"
           category="net.bioclipse.BioclipseCategory"
           class="net.bioclipse.pubchem.wizards.NewFromPubChemWizard"
           hasPages="true"
           id="net.bioclipse.pubchem.wizards.NewFromPubChemWizard"
           name="Get structure from PubChem"
           project="true">
       </wizard>
   </extension>

</plugin>
